#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LWR 1
#define RSE 2
#define ADJ 3

/ {
    behaviors {
        F2_F5: F2_F5 {
            compatible = "zmk,behavior-tap-dance";
            label = "F2_F5";
            #binding-cells = <0>;
            bindings = <&kp F2>, <&kp F5>;
        };

        Bracket: Bracket {
            compatible = "zmk,behavior-tap-dance";
            label = "BRACKET";
            #binding-cells = <0>;
            bindings = <&kp LBKT>, <&kp RBKT>;
        };

        DMP: DMP {
            compatible = "zmk,behavior-tap-dance";
            label = "DMP";
            #binding-cells = <0>;
            bindings = <&kp C_VOL_DN>, <&kp C_MUTE>, <&kp C_PREVIOUS>;
        };

        UPN: UPN {
            compatible = "zmk,behavior-tap-dance";
            label = "UPN";
            #binding-cells = <0>;
            bindings = <&kp C_VOLUME_UP>, <&kp C_PLAY_PAUSE>, <&kp C_NEXT>;
        };

        BSLH_GRV: BSLH_GRV {
            compatible = "zmk,behavior-tap-dance";
            label = "BSLH_GRV";
            #binding-cells = <0>;
            bindings = <&kp BSLH>, <&kp GRAVE>;
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC         &kp N1  &kp N2            &kp N3             &kp N4     &kp N5                                 &kp N6         &kp N7     &kp N8     &kp N9     &kp N0     &kp BACKSPACE
&kp TAB         &kp Q   &kp W             &kp E              &kp R      &kp T                                  &kp Y          &kp U      &kp I      &kp O      &kp P      &kp DELETE
&kp LCTRL       &kp A   &kp S             &kp D              &kp F      &kp G                                  &kp H          &kp J      &kp K      &kp L      &kp SEMI   &kp SQT
&kp LEFT_SHIFT  &kp Z   &kp X             &kp C              &kp V      &kp B                                  &kp N          &kp M      &kp COMMA  &kp DOT    &kp SLASH  &kp RIGHT_SHIFT
                        &kp LEFT_BRACKET  &kp RIGHT_BRACKET                                                                              &kp MINUS  &kp EQUAL
                                                             &kp SPACE  &kp ENTER                              &kp RET        &kp SPACE
                                                                        &lt 1 BACKSPACE  &kp HOME  &kp DELETE  &lt 2 DEL
                                                                        &kp LEFT_GUI     &F2_F5    &kp END     &kp RIGHT_GUI
            >;
        };

        lower_layer {
            bindings = <
&kp TILDE  &kp EXCLAMATION  &kp AT_SIGN   &kp HASH   &kp DOLLAR  &kp PERCENT                       &kp CARET          &kp AMPERSAND  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PAGE_UP
&kp GRAVE  &trans           &kp UP_ARROW  &trans     &trans      &trans                            &trans             &trans         &trans        &trans                &trans                 &kp PAGE_DOWN
&trans     &kp LEFT         &kp DOWN      &kp RIGHT  &trans      &kp LEFT_BRACKET                  &kp RIGHT_BRACKET  &trans         &trans        &trans                &trans                 &kp PIPE
&trans     &trans           &trans        &trans     &trans      &kp LEFT_BRACE                    &kp RIGHT_BRACE    &trans         &trans        &trans                &trans                 &trans
                            &trans        &trans                                                                                     &trans        &trans
                                                     &trans      &trans                            &trans             &mo 0
                                                                 &trans            &trans  &trans  &trans
                                                                 &trans            &trans  &trans  &trans
            >;
        };

        raise_layer {
            bindings = <
&kp F12  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5                          &kp F6     &kp F7  &kp F8  &kp F9  &kp F10  &kp F11
&trans   &trans  &trans  &trans  &trans  &trans                          &trans     &trans  &trans  &trans  &trans   &trans
&trans   &trans  &trans  &trans  &trans  &kp UNDERSCORE                  &kp EQUAL  &trans  &trans  &trans  &trans   &kp BACKSLASH
&trans   &trans  &trans  &trans  &trans  &kp MINUS                       &kp PLUS   &trans  &trans  &trans  &trans   &trans
                 &trans  &trans                                                             &trans  &trans
                                 &trans  &trans                          &trans     &trans
                                         &trans          &trans  &trans  &trans
                                         &trans          &trans  &trans  &trans
            >;
        };
    };
};
